.royalBanner {
    position: absolute;
    left: 50%;
    display: block;
    margin: 100px -200px;
    width: 400px;
    height: 60px;
    border: 1px solid #5d1d83;
    font: normal 30px/60px 'Rye';
    text-align: center;
    color: rgb(248, 248, 248);
    background: #7820ac;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
                        0 6px 10px rgba(0,0,0,.15);
  }
  
  .royalBanner::before,
  .royalBanner::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -70px;
    top: 34px;
    display: block;
    width: 90px;
    height: 0px;
    border: 30px solid #823aac;
    border-right: 20px solid #640899;
    border-bottom-color: #823aac;
    border-left-color: transparent;
    transform: rotate(-8deg);
  }
  
  .royalBanner::after {
    left: auto;
    right: -70px;
    border-left: 20px solid #640899;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
  }