/* LessonComplete.module.css */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.trophyAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite;
}
